@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    Layout = null;

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var siteName = settings?.Value<string>("siteName") ?? "Onatrix";
    var siteTagline = settings?.Value<string>("siteTagline") ?? "Financial Solutions";



    var pageTitle = !string.IsNullOrEmpty(ViewBag.Title) ? $"{ViewBag.Title} | {siteName} - {siteTagline}" : $"{siteName} - {siteTagline}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*<link rel="stylesheet" href="https://kit.fontawesome.com/0f4df51c38.css" crossorigin="anonymous"> *@
    <link rel="stylesheet" href="/css/scss/main.css">
    <title>@pageTitle</title>
</head>

<body>
    <div class="wrapper-grid">
	  
         @await Html.PartialAsync("partials/static/header.cshtml")
        
		<main>
			@RenderBody()
		</main>
        @await Html.PartialAsync("partials/static/footer.cshtml")
    </div>
	<script src="/scripts/main.js"></script>
</body>
</html>