@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper


@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var servicesBannerBackground = settings?.Value<IPublishedContent>("servicesBannerBackground")?.Url() ?? "";     
    var servicesBannerLinkText1 = settings?.Value<string>("servicesBannerLinkText1") ?? "";  
    var servicesBannerLink1 = settings?.Value<string>("servicesBannerLink1") ?? "";  

}

<section id="contact" class="banner bg-gray">
    <div class="background"> 
        <img src="@servicesBannerBackground" alt="Backround image">
        <div class="content">
            <h2>@Model?.Value("servicesBannerHeadline")</h2>
            <div class="links">
                <a class="home" href="@servicesBannerLink1">@servicesBannerLinkText1</a>
                    <div class="chevron"><i class="fa-solid fa-chevron-right"></i></div>
                <a class="activ" href="@Model?.Value("servicesBannerLink2")">@Model?.Value("servicesBannerLinkText2")</a>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("partials/static/services_section.cshtml")

<div class="pagnaition">
    <a href="#" class="prev">Prev</a>
    <a href="#" class="one">1</a>
    <a href="#" class="two">2</a>
    <a href="#" class="next">Next</a>
</div>

@await Html.PartialAsync("partials/static/next-project.cshtml")

