<?xml version="1.0" encoding="utf-8"?>
<DataType Key="672a13ae-d86a-4b78-a6a6-3ac2911e6b3e" Alias="Button Link - Approved Button Colors" Level="1">
  <Info>
    <Name>Button Link - Approved Button Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "535656",
      "label": "Default"
    },
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4f5955",
      "label": "Primary"
    },
    {
      "value": "6d7573",
      "label": "Primary-Light"
    },
    {
      "value": "2f3331",
      "label": "Primary-Dark"
    },
    {
      "value": "d9c3a9",
      "label": "Secondary"
    },
    {
      "value": "f2eddc",
      "label": "Accent"
    },
    {
      "value": "f7f7f7",
      "label": "Gray"
    },
    {
      "value": "ffffff",
      "label": "Light"
    },
    {
      "value": "cccccc",
      "label": "Note"
    },
    {
      "value": "ffffff",
      "label": "None"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>