<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3be37d14-9225-4aa9-93cc-ddf8ba20a5e7" Alias="Image Slider - Slider" Level="1">
  <Info>
    <Name>Image Slider - Slider</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "87091b4e-439a-408c-9dd3-5aba6dea2a4d",
      "label": "**slide item** - {=ImageDescription}"
    }
  ]
}]]></Config>
</DataType>