<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eb1b3c27-9595-44d1-9302-86802a4a2580" Alias="InputText - Input Type" Level="1">
  <Info>
    <Name>InputText - Input Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "phone"
  ]
}]]></Config>
</DataType>