<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7c78948-de25-4385-a948-408b31a415c0" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "2743849c-e226-49ec-b697-4f67453be7a1",
      "name": "Containers"
    },
    {
      "name": "Content",
      "key": "6a5bd514-e703-4deb-821c-a40ba50b8dc2"
    },
    {
      "name": "Components",
      "key": "ea162b1e-9334-4a9f-9332-bfbd3674ba55"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "24ee1500-d6c8-4a39-994b-35634aa69380",
      "allowAtRoot": true,
      "label": "Section-**{=sectionTitle}**",
      "areas": [
        {
          "key": "4db0c52a-f419-4afa-9532-5c75d7c4525e",
          "alias": "area",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "2743849c-e226-49ec-b697-4f67453be7a1"
    },
    {
      "contentElementTypeKey": "0d66f15b-87b0-4ce6-ae68-4c6aa3853aa1",
      "allowAtRoot": true,
      "groupKey": "2743849c-e226-49ec-b697-4f67453be7a1",
      "label": "section-**{=sectionTitle}**",
      "areas": [
        {
          "key": "f4f93dca-a260-4e86-8f30-aee4b63da9b1",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "890318b2-15e3-4e42-9d57-1bf45ae709c5",
      "allowAtRoot": false,
      "groupKey": "2743849c-e226-49ec-b697-4f67453be7a1",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "63fd223c-961f-4a0a-8455-2e365caf5ad3",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "dc1cb6dc-59b6-4ab7-ac01-a879ce90f5a3",
      "allowAtRoot": false,
      "groupKey": "2743849c-e226-49ec-b697-4f67453be7a1",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "90bb5859-610b-42de-9997-03acc5e1238b",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "54ded171-bfb1-4135-bfc7-adbdb279b7e1",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "allowInAreas": true,
      "label": "heading-**{{=headlineContent]}**"
    },
    {
      "contentElementTypeKey": "02d43db4-6136-4b52-80bb-b204acb62903",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "label": "heading-**{{=headlineContent]}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9d6ada9f-fef8-4d89-8ef7-14a48aa79bdb",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "label": "heading-**{{=headlineContent]}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2141d77a-63cc-4eb0-93d7-c6f1d96d2fea",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "allowInAreas": true,
      "label": "heading-**{{=headlineContent]}**"
    },
    {
      "contentElementTypeKey": "614ab3e6-4b21-44b4-a558-399c3193600a",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "label": "heading-**{{=headlineContent]}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "92c69436-d0bc-43df-9bdf-90f0c3d369a1",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "label": "heading-**{{=headlineContent]}**",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8836461a-1a7e-4179-8442-a89d10542dca",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "15e5c21b-6450-4b44-9795-d8d3260f83a4",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "label": "image",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "07d1c47c-02d5-4a03-9f25-ad0369ef9967",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c266e04f-be16-44d6-b8a1-c6cf69459b7d",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9de6fadc-732a-4289-ab9c-7d134d5e1cbc",
      "allowAtRoot": false,
      "groupKey": "6a5bd514-e703-4deb-821c-a40ba50b8dc2",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e5b21a70-24ef-48bf-a931-bb9f5dbd97f0",
      "allowAtRoot": false,
      "groupKey": "ea162b1e-9334-4a9f-9332-bfbd3674ba55",
      "label": "image slider",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": false
}]]></Config>
</DataType>