<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf642e1f-5042-40ed-80ae-2312eb3fdab1" Alias="Section - Approved Background Color" Level="1">
  <Info>
    <Name>Section - Approved Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4f5955",
      "label": "Primary"
    },
    {
      "value": "6d7573",
      "label": "Primary-Light"
    },
    {
      "value": "2f3331",
      "label": "Primary-Dark"
    },
    {
      "value": "d9c3a9",
      "label": "Secondary"
    },
    {
      "value": "d9c3a9",
      "label": "Accent"
    },
    {
      "value": "ffffff",
      "label": "Light"
    },
    {
      "value": "f7f7f7",
      "label": "Gray"
    },
    {
      "value": "cccccc",
      "label": "Note"
    },
    {
      "value": "ffffff",
      "label": "None"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>