<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ab7f9ce-cd96-42fe-ba9a-029e6bea74a2" Alias="Settings Page - Social Media Plattforms " Level="1">
  <Info>
    <Name>Settings Page - Social Media Plattforms </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d9183283-db68-42e4-b612-a7cdd3795d9a",
      "label": "**{=platformName}**-{=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>