<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ec6a545-3903-49e1-a7d6-b4012a69907a" Alias="Settings Page - Social Media Platforms" Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d9183283-db68-42e4-b612-a7cdd3795d9a",
      "label": "**{=plattformName}**-{=plattformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>