<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9dcea7cc-3746-4fae-8f72-6bf28e2aaca2" Alias="Settings Page - Tags" Level="1">
  <Info>
    <Name>Settings Page - Tags</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0d1b4207-333b-4a69-aa87-27c477b18bbb",
      "label": "**{tags Name}**- {=tagsUrl}"
    }
  ]
}]]></Config>
</DataType>