<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d7a3370-8fdd-4550-b29e-1d1e0b971e18" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X(formerly Twitter)"
  ]
}]]></Config>
</DataType>