<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1be548dd-785f-4859-a659-2131b6a26fe5" Alias="Tags Dropdown List" Level="1">
  <Info>
    <Name>Tags Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Report",
    "Busines plans",
    "Insights",
    "Business",
    "App",
    "Project",
    "Finance",
    "Pricing"
  ]
}]]></Config>
</DataType>