#footer {
    .container {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 1rem;


        .rights {
            display: none;

            @include tablet {
                display: block;
                color: var(--color-light);
                margin-right: 0.5rem;
            }
        }

        .rights-mobile {
            color: var(--color-light);
            margin-right: 0.5rem;

            @include tablet {
                display: none;
            }
        }
    }
}
