#heru-slider {

    .background {
        display: none;

        @include desktop {
            display: block;
            
        }

        @media (min-width: 1700px) {
            background-size: 1700px auto;
            background-position: center;
        }
    }

    .container {
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .hero-content {
            @include desktop {
                width: 50%;
            }

            .headline {
                margin-top: 5rem;
                line-height: 110%
            }

            .ingress {
                margin-top: 1.5rem;
            }

            div {
                .btn {
                    margin-bottom: 3rem;
                }
            }
        }
    }
}

#about-us {
    position: relative;
    margin-top: 3rem;

    .container {
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .content {
            @include desktop {
                width: 50%;
            }

            .quote {
                font-weight: 400;
                font-style: oblique;
            }
        }

        .form-container {


            @include desktop {
                position: absolute;
                right: 150px;
                top: 400px;
                z-index: 1;
                background-color: var(--color-primary);
                width: 30%;
                /*       height: 400px;*/
            }

            .request-box {

                @include desktop {
                    position: absolute;
                }

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                top: -600px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

                .request-text {
                    background-color: var(--color-primary);
                    text-align: center;
                    width: 100%;
                    padding: 1rem;

                    h4 {
                        color: var(--color-secondary);
                        margin: 0;
                    }
                }

                .request-form {
                    width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-bottom: 2rem;

                    p {
                        margin-bottom: 1rem;
                        margin-top: 1rem;
                    }

                    form {


                        .form-input-group {
                            display: flex;
                            flex-direction: column;


                            input, select, textarea {
                                width: 100%;
                                margin-bottom: 0.5rem;
                                height: 52px;
                                font-family: 'Poppins', sans-serif;
                                font-size: 1rem;
                                padding: 0.5rem;
                                font-style: oblique;
                                border: 1px solid var(--color-note);
                                border-radius: 5px;
                            }

                            .form-input-error {
                                color: red;
                                font-size: 0.8rem;
                                margin-top: 0.5rem;
                                display: none;
                            }

                            .form-invalid-input {
                                display: block;
                            }

                            .form-valid-input {
                                display: none;
                            }
                        }

                        .form-button {
                            width: 100%;
                            justify-self: center;
                            font-weight: 600;
                            font-family: 'Poppins', sans-serif;
                        }
                    }

                    .success-message {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #5cb85c;
                        color: var(--color-light);
                        font-size: 1rem;
                        font-weight: 600;
                        text-align: center;
                        margin-top: 1rem;
                        height: 52px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

#our-services {
    padding-top: 6rem;

    .bg {
        padding-top: 1rem;
        padding-bottom: 6rem;
        background-color: var(--color-gray) !important;


        .container {

            h6 {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 3rem;
            }

            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
            }

            .solution {
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr;
                margin-top: 3rem;

                @include tablet {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include desktop {
                    grid-template-columns: repeat(3, 1fr);
                }

                a {
                    text-decoration: none;
                    color: var(--color-primary);
                    background-color: var(--color-light);
                    transition: transform 0.4s ease, box-shadow 0.4s ease;

                    &:hover {
                        transform: translateY(-3px);
                        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
                    }

                    .solution-item {
                        h5 {
                            padding: 1rem;
                            margin: 0;
                        }

                        .image {
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        p {
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}

#we-are {
    margin-top: 6rem;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include tablet {
                width: 50%;
            }

            h2 {
                margin: 0;
            }

            .h2 {
                color: var(--color-secondary);
            }

            p {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        .image {
            width: 100%;
            height: auto;
            margin-top: 5rem;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

#success {
    .bg-primary {
        padding-top: 6rem;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;

            .success-stories {
                @include desktop {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4rem;
                }

                .success-story {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    flex: 1;

                    @include desktop {
                        padding-bottom: 35rem;
                    }

                    h1 {
                        color: var(--color-secondary);
                        margin: 0;
                    }

                    h5 {
                        text-align: center;
                    }
                }
            }

            .image {
                display: none;

                @include desktop {
                    display: block;
                    width: 100%;
                    height: auto;
                    padding: 5rem;
                    position: absolute;
                    top: 15rem;
                    right: 0;
                    z-index: 1;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

#our-projects {
    margin-top: 2rem;

    @include desktop {
        margin-top: 14rem;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 3rem;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }

        .project {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: transform 0.4s ease, box-shadow 0.4s ease;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
            }

            .image {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .bg-primary {
                position: absolute;
                bottom: 0;
                opacity: 0.7;
                width: 100%;
                padding-left: 2rem;

                h5 {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    font-weight: 400;
                }

                p {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }

            .bg-primary-active {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                position: absolute;
                bottom: 0;
                background-color: var(--color-primary);
                width: 100%;
                padding: 2rem;

                .info {

                    h5 {
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        font-weight: 400;
                        color: var(--color-accent);
                    }

                    p {
                        margin-top: 1rem;
                        color: var(--color-gray);
                    }
                }

                .chevron {
                    color: var(--color-gray);
                    font-size: 3rem;
                }
            }
        }
    }
}

#partners {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .partner {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
