<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d83730fd-bd87-46b7-ba87-2208c2065126" Alias="servicesPage" Level="2">
  <Info>
    <Name>Services Page</Name>
    <Icon>icon-thumbnail-list color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>servicesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5ad05c1b-f6c4-48c5-a0a2-e5a402d55ce6">servicesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d7682a31-d51c-4851-a99a-a458fa9dc411" SortOrder="0">servicesSolution1Page</ContentType>
    <ContentType Key="e2b9e4e8-0a5a-4567-9008-325de0d83ddc" SortOrder="1">servicesSolution2Page</ContentType>
    <ContentType Key="824698ad-8f82-4603-8043-b5aedd96cfdc" SortOrder="2">servicesSolution3Page</ContentType>
    <ContentType Key="22550b25-b0d1-4208-800f-ab03aded85ac" SortOrder="3">servicesSolution4Page</ContentType>
    <ContentType Key="99a3c903-2791-481c-8cbf-559f7aef6780" SortOrder="4">servicesSolution5Page</ContentType>
    <ContentType Key="9d0f2600-006a-41f0-8f71-e7d9d4404293" SortOrder="5">servicesSolution6Page</ContentType>
    <ContentType Key="7f1a48d5-838a-41de-8d83-925831c6a80e" SortOrder="6">servicesSolution7Page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f554e77d-fa75-4afe-8f35-3039eac2d638</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>984a3c71-33dc-406f-a745-5291b6d21d91</Key>
      <Name>Services Banner  Headline</Name>
      <Alias>servicesBannerHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>841eb836-6602-42c6-822a-85eb0ea6f886</Key>
      <Name>Services Banner  Link 2</Name>
      <Alias>servicesBannerLink2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d205bf33-514c-4947-9940-4cd2ba962c78</Key>
      <Name>Services Banner  Link Text 2</Name>
      <Alias>servicesBannerLinkText2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f28daf1a-0265-4558-97ae-57304c7cf52c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>