<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7c08361-fc8a-4d31-b770-1d350a0732bb" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="5081dcb8-46e9-418a-895a-8b1cb5c7c32f">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T23:26:08</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sm5gejmr/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>