<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa0f2d7e-c31a-47cf-88fe-d13ab8a955c0" Alias="02.svg" Level="2">
  <Info>
    <Parent Key="5081dcb8-46e9-418a-895a-8b1cb5c7c32f">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T23:26:19</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rsik0sab/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>