<?xml version="1.0" encoding="utf-8"?>
<Media Key="a70468cb-d956-4c24-b912-abed2c06b5e9" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="5081dcb8-46e9-418a-895a-8b1cb5c7c32f">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T23:27:16</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hhklmrkn/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>