<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f12309d-a60b-4596-9f39-86dd666a7a95" Alias="about" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/about</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T23:03:55</CreateDate>
    <NodeName Default="about" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>