<?xml version="1.0" encoding="utf-8"?>
<Media Key="a22676e1-142f-4d72-8401-5a7d12fed95d" Alias="Bg.svg" Level="2">
  <Info>
    <Parent Key="7f12309d-a60b-4596-9f39-86dd666a7a95">about</Parent>
    <Path>/about/Bgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T23:06:20</CreateDate>
    <NodeName Default="Bg.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cpfjiqbu/bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>