<?xml version="1.0" encoding="utf-8"?>
<Media Key="49928838-a1b2-4eae-8204-4c732db92527" Alias="Brand.svg" Level="2">
  <Info>
    <Parent Key="5081dcb8-46e9-418a-895a-8b1cb5c7c32f">partners</Parent>
    <Path>/partners/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T23:25:55</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zi0dbk3j/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>