<?xml version="1.0" encoding="utf-8"?>
<Media Key="15d18a00-a2d7-4ec2-bd4e-b07dd779ed36" Alias="contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T23:04:10</CreateDate>
    <NodeName Default="contact" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>