<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcfc2e87-ae7e-4900-a526-a9a79dfed39e" Alias="Dot.svg" Level="2">
  <Info>
    <Parent Key="7f12309d-a60b-4596-9f39-86dd666a7a95">about</Parent>
    <Path>/about/Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T23:06:52</CreateDate>
    <NodeName Default="Dot.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/owjf2ptf/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>