<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcb1cdaf-0b99-4fd6-884e-8713fe6e7dec" Alias="home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T23:04:24</CreateDate>
    <NodeName Default="home" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>