<?xml version="1.0" encoding="utf-8"?>
<Media Key="49b66b62-9435-407f-a9d8-e560d74a0214" Alias="image-23-min 1.png" Level="2">
  <Info>
    <Parent Key="dcb1cdaf-0b99-4fd6-884e-8713fe6e7dec">home</Parent>
    <Path>/home/image23Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:15:26</CreateDate>
    <NodeName Default="image-23-min 1.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3wqpb502/image-23-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>