<?xml version="1.0" encoding="utf-8"?>
<Media Key="80451346-b268-4c13-aa16-128971b380b2" Alias="image-104-1.png" Level="2">
  <Info>
    <Parent Key="7f12309d-a60b-4596-9f39-86dd666a7a95">about</Parent>
    <Path>/about/image1041png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:07:25</CreateDate>
    <NodeName Default="image-104-1.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zhmbgnqb/image-104-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>