<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7f7160c-848a-4ac7-88e9-4ca745c13f93" Alias="image-24-min 2.png" Level="2">
  <Info>
    <Parent Key="14ce482d-860a-4b69-9ed3-c17c7b156048">services</Parent>
    <Path>/services/image24Min2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:20:32</CreateDate>
    <NodeName Default="image-24-min 2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qpolcypd/image-24-min-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>