<?xml version="1.0" encoding="utf-8"?>
<Media Key="3294a4ed-a2f6-48df-b8cb-3ca71f34c4f4" Alias="image-24-min 1.png" Level="2">
  <Info>
    <Parent Key="dcb1cdaf-0b99-4fd6-884e-8713fe6e7dec">home</Parent>
    <Path>/home/image24Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:15:37</CreateDate>
    <NodeName Default="image-24-min 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mjxnfbe5/image-24-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>