<?xml version="1.0" encoding="utf-8"?>
<Media Key="f153ac85-08c5-461d-864c-79c7d9cf4c70" Alias="image-21-min 2.png" Level="2">
  <Info>
    <Parent Key="14ce482d-860a-4b69-9ed3-c17c7b156048">services</Parent>
    <Path>/services/image21Min2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:20:20</CreateDate>
    <NodeName Default="image-21-min 2.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bjtbkr3m/image-21-min-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>