<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6a51a7d-03ad-42a1-850c-839ee942c0bf" Alias="Img-1-4-1.png" Level="2">
  <Info>
    <Parent Key="d41d7785-d7a9-481e-b599-637da60fde3d">projects</Parent>
    <Path>/projects/Img141png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:19:28</CreateDate>
    <NodeName Default="Img-1-4-1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4liogege/img-1-4-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>