<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca5e02e7-3d94-47d6-ad5f-c9a512e0a9f1" Alias="Img-47-1.png" Level="2">
  <Info>
    <Parent Key="d41d7785-d7a9-481e-b599-637da60fde3d">projects</Parent>
    <Path>/projects/Img471png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:19:43</CreateDate>
    <NodeName Default="Img-47-1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ndebq5h3/img-47-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>