<?xml version="1.0" encoding="utf-8"?>
<Media Key="990687a7-3772-481d-ba9e-e21a46e4a51d" Alias="Img.svg" Level="2">
  <Info>
    <Parent Key="7f12309d-a60b-4596-9f39-86dd666a7a95">about</Parent>
    <Path>/about/Imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T23:08:07</CreateDate>
    <NodeName Default="Img.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ku3ki41j/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>