<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9c086ef-9ef8-424f-8396-e9b8a00686d3" Alias="Img.svg" Level="2">
  <Info>
    <Parent Key="15d18a00-a2d7-4ec2-bd4e-b07dd779ed36">contact</Parent>
    <Path>/contact/Imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T23:10:23</CreateDate>
    <NodeName Default="Img.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/du3hek5d/img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>