<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ad75d61-f0cd-49dc-91fa-e971891d4bee" Alias="img_choose_01_home01-1.png" Level="2">
  <Info>
    <Parent Key="7f12309d-a60b-4596-9f39-86dd666a7a95">about</Parent>
    <Path>/about/img_choose_01_home011png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:08:18</CreateDate>
    <NodeName Default="img_choose_01_home01-1.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/30ljdtfe/img_choose_01_home01-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>