<?xml version="1.0" encoding="utf-8"?>
<Media Key="849b5e7f-e83e-44e4-b678-7be0f8f1c4d8" Alias="Kevin-Gardner-1.png" Level="2">
  <Info>
    <Parent Key="7f12309d-a60b-4596-9f39-86dd666a7a95">about</Parent>
    <Path>/about/KevinGardner1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:09:27</CreateDate>
    <NodeName Default="Kevin-Gardner-1.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4ckn0msx/kevin-gardner-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>