<?xml version="1.0" encoding="utf-8"?>
<Media Key="a07ec395-3cc3-4703-9b14-4719b1b6e888" Alias="Mail.svg" Level="2">
  <Info>
    <Parent Key="14ce482d-860a-4b69-9ed3-c17c7b156048">services</Parent>
    <Path>/services/Mailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T23:20:44</CreateDate>
    <NodeName Default="Mail.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m35nyqwy/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>