<?xml version="1.0" encoding="utf-8"?>
<Media Key="3bb4addc-d893-4aab-8dd6-2a607a719716" Alias="OnlineSignatures.net-302 1.svg" Level="2">
  <Info>
    <Parent Key="dcb1cdaf-0b99-4fd6-884e-8713fe6e7dec">home</Parent>
    <Path>/home/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T23:16:21</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fyibnwmi/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>