<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ab12928-38aa-436e-be4f-2fa3528887cd" Alias="partner4" Level="2">
  <Info>
    <Parent Key="5081dcb8-46e9-418a-895a-8b1cb5c7c32f">partners</Parent>
    <Path>/partners/partner4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T00:42:07</CreateDate>
    <NodeName Default="partner4" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1kkbg0fr/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>