<?xml version="1.0" encoding="utf-8"?>
<Media Key="5081dcb8-46e9-418a-895a-8b1cb5c7c32f" Alias="partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T23:25:44</CreateDate>
    <NodeName Default="partners" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>