<?xml version="1.0" encoding="utf-8"?>
<Media Key="c63bde31-c99c-4de8-89db-c9788d5c13ae" Alias="pj5.png" Level="2">
  <Info>
    <Parent Key="dcb1cdaf-0b99-4fd6-884e-8713fe6e7dec">home</Parent>
    <Path>/home/pj5png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T20:38:44</CreateDate>
    <NodeName Default="pj5.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xykh02hv/pj5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>