<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e7317b1-288c-4487-a958-8df81f31fde5" Alias="post2-1.png" Level="2">
  <Info>
    <Parent Key="14ce482d-860a-4b69-9ed3-c17c7b156048">services</Parent>
    <Path>/services/post21png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:20:59</CreateDate>
    <NodeName Default="post2-1.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h1odlkhf/post2-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>