<?xml version="1.0" encoding="utf-8"?>
<Media Key="d41d7785-d7a9-481e-b599-637da60fde3d" Alias="projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-25T23:04:50</CreateDate>
    <NodeName Default="projects" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>