<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fcdcad7-d664-4bec-a016-7be2268037a0" Alias="sl-home2.png" Level="2">
  <Info>
    <Parent Key="dcb1cdaf-0b99-4fd6-884e-8713fe6e7dec">home</Parent>
    <Path>/home/slHome2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:18:06</CreateDate>
    <NodeName Default="sl-home2.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/laaixcin/sl-home2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>