<?xml version="1.0" encoding="utf-8"?>
<Media Key="bff1fc74-d5a2-4d78-912e-429f45a60722" Alias="Video-1.png" Level="2">
  <Info>
    <Parent Key="dcb1cdaf-0b99-4fd6-884e-8713fe6e7dec">home</Parent>
    <Path>/home/Video1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T23:18:35</CreateDate>
    <NodeName Default="Video-1.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5m1locol/video-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>