<?xml version="1.0" encoding="utf-8"?>
<Content Key="852928f3-f946-4811-9b6c-cdf140945a3b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c83cc9d0-613a-454f-956b-583d182087e1">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2024-09-27T23:00:58</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35ba838f-5253-4388-8d05-03740f83b35d">contact</Template>
  </Info>
  <Properties>
    <contactBackgroundImg>
      <Value><![CDATA[[
  {
    "key": "6c013616-2f8c-45d0-96f0-f3e3063c9c04",
    "mediaKey": "c9c086ef-9ef8-424f-8396-e9b8a00686d3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImg>
    <contactHeadline>
      <Value><![CDATA[Request a call back]]></Value>
    </contactHeadline>
    <contactLink2>
      <Value><![CDATA[/contact]]></Value>
    </contactLink2>
    <contactLinkText2>
      <Value><![CDATA[Contact]]></Value>
    </contactLinkText2>
    <contactSectionTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactSectionTitle>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <requestTextHeading>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </requestTextHeading>
    <requestTextText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </requestTextText>
  </Properties>
</Content>