<?xml version="1.0" encoding="utf-8"?>
<Content Key="c83cc9d0-613a-454f-956b-583d182087e1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-23T15:57:09</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16f50992-00ec-42d0-a135-d2121a54a795">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[About Us]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[We have over 25 years of experience providing expert financial advice to both businesses and individuals.]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutSectionTitle>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "b4a5cab6-2246-4dd1-aa22-ec1a702727c1",
    "mediaKey": "3bb4addc-d893-4aab-8dd6-2a607a719716",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutSignatureText>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignatureText>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "7ab80505-9a1e-4a44-a17f-1730037b5704",
    "mediaKey": "3fcdcad7-d664-4bec-a016-7be2268037a0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonLinkUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonLinkUrl>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroHeadline>
      <Value><![CDATA[We bring sucess to you]]></Value>
    </heroHeadline>
    <heroSectionTitle>
      <Value><![CDATA[]]></Value>
    </heroSectionTitle>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla est nulla, egestas eget pretium sit amet, porta sagittis justo. Vivamus mi felis, facilisis ]]></Value>
    </heroText>
    <projectsHeadline>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectsHeadline>
    <projectsProject1Headline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectsProject1Headline>
    <projectsProject1Image>
      <Value><![CDATA[[
  {
    "key": "33a1ce68-6f91-46c2-a8ff-e2d653b2bac4",
    "mediaKey": "7b2d1ed5-343a-40e1-afeb-8e4a96908f16",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsProject1Image>
    <projectsProject1Link>
      <Value><![CDATA[/projects/project1/]]></Value>
    </projectsProject1Link>
    <projectsProject1Text>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsProject1Text>
    <projectsProject2Headline>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </projectsProject2Headline>
    <projectsProject2Image>
      <Value><![CDATA[[
  {
    "key": "35690683-d6db-4089-ab2c-4f3456900fac",
    "mediaKey": "275ccf71-16fd-4dd6-b5e8-01e3e1492576",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsProject2Image>
    <projectsProject2Link>
      <Value><![CDATA[/projects/project2/]]></Value>
    </projectsProject2Link>
    <projectsProject2Text>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsProject2Text>
    <projectsProject3Headline>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </projectsProject3Headline>
    <projectsProject3Image>
      <Value><![CDATA[[
  {
    "key": "9e638699-1a78-46d8-9fd5-f419eb194b8a",
    "mediaKey": "3741a9aa-f1e1-4b6f-838b-71c53c7ebfba",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsProject3Image>
    <projectsProject3Link>
      <Value><![CDATA[/projects/project3/]]></Value>
    </projectsProject3Link>
    <projectsProject3Text>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsProject3Text>
    <projectsProject4Headline>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </projectsProject4Headline>
    <projectsProject4Image>
      <Value><![CDATA[[
  {
    "key": "17a8cf34-6dcb-4b75-83c8-3abf058ad22f",
    "mediaKey": "e607e438-01b8-42ee-9295-9d6e641902aa",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsProject4Image>
    <projectsProject4Link>
      <Value><![CDATA[/projects/project4/]]></Value>
    </projectsProject4Link>
    <projectsProject4Text>
      <Value><![CDATA[Financial Services]]></Value>
    </projectsProject4Text>
    <projectsTitle>
      <Value><![CDATA[Recent projects]]></Value>
    </projectsTitle>
    <servicesHeadline>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </servicesHeadline>
    <serviceSolution1Headline>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceSolution1Headline>
    <serviceSolution1Image>
      <Value><![CDATA[[
  {
    "key": "fff50fae-4975-4877-ae5c-a981e0f9eb0c",
    "mediaKey": "2e7eb04f-3e58-4e85-ad10-a98ce3b6812b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution1Image>
    <serviceSolution1Link>
      <Value><![CDATA[/services-solution1]]></Value>
    </serviceSolution1Link>
    <serviceSolution1Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution1Text>
    <serviceSolution2Headline>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceSolution2Headline>
    <serviceSolution2Image>
      <Value><![CDATA[[
  {
    "key": "8b0b9c8a-b4f8-48a8-81f3-4ab738273dc3",
    "mediaKey": "1916dc14-90b7-4449-af76-536fe2ca77a1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution2Image>
    <serviceSolution2Link>
      <Value><![CDATA[/services-solution2]]></Value>
    </serviceSolution2Link>
    <serviceSolution2Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution2Text>
    <serviceSolution3Headline>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceSolution3Headline>
    <serviceSolution3Image>
      <Value><![CDATA[[
  {
    "key": "82545b51-6969-4f65-a9f5-7e7fa1342deb",
    "mediaKey": "8e1a304c-cd2b-43d9-9243-94bed1dc6a9b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution3Image>
    <serviceSolution3Link>
      <Value><![CDATA[/services-solution3]]></Value>
    </serviceSolution3Link>
    <serviceSolution3Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution3Text>
    <serviceSolution4Headline>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceSolution4Headline>
    <serviceSolution4Image>
      <Value><![CDATA[[
  {
    "key": "0185e0fa-a101-40e7-8f94-d1da342a83cf",
    "mediaKey": "29d797ad-de27-4b86-92aa-76f7ef6a72ed",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution4Image>
    <serviceSolution4Link>
      <Value><![CDATA[/services-solution4]]></Value>
    </serviceSolution4Link>
    <serviceSolution4Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution4Text>
    <serviceSolution5Headline>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceSolution5Headline>
    <serviceSolution5Image>
      <Value><![CDATA[[
  {
    "key": "c5ff7116-891d-4aee-b60c-bc59faeb0c06",
    "mediaKey": "49b66b62-9435-407f-a9d8-e560d74a0214",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution5Image>
    <serviceSolution5Link>
      <Value><![CDATA[/services-solution5]]></Value>
    </serviceSolution5Link>
    <serviceSolution5Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution5Text>
    <serviceSolution6Headline>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceSolution6Headline>
    <serviceSolution6Image>
      <Value><![CDATA[[
  {
    "key": "89aa124c-f41d-4ba8-867b-6dadb407a35c",
    "mediaKey": "3294a4ed-a2f6-48df-b8cb-3ca71f34c4f4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution6Image>
    <serviceSolution6Link>
      <Value><![CDATA[/services-solution6]]></Value>
    </serviceSolution6Link>
    <serviceSolution6Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution6Text>
    <servicesTitle1Row>
      <Value><![CDATA[We Provide The Solutions]]></Value>
    </servicesTitle1Row>
    <servicesTitle2Row>
      <Value><![CDATA[To Grow Your Business Faster]]></Value>
    </servicesTitle2Row>
    <successHeadline>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successHeadline>
    <successImage>
      <Value><![CDATA[[
  {
    "key": "68d09d23-b2c8-4b06-9f01-64df14b40eb2",
    "mediaKey": "bff1fc74-d5a2-4d78-912e-429f45a60722",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successImage>
    <successStory1Number>
      <Value><![CDATA[689]]></Value>
    </successStory1Number>
    <successStory1Text>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </successStory1Text>
    <successStory2Number>
      <Value><![CDATA[370]]></Value>
    </successStory2Number>
    <successStory2Text>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successStory2Text>
    <successStory3Number>
      <Value><![CDATA[125]]></Value>
    </successStory3Number>
    <successStory3Text>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successStory3Text>
    <successTitle>
      <Value><![CDATA[Success story]]></Value>
    </successTitle>
    <weAreButtonLink>
      <Value><![CDATA[/about]]></Value>
    </weAreButtonLink>
    <weAreButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </weAreButtonText>
    <weAreHeadline1Row>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </weAreHeadline1Row>
    <weAreHeadline2Row>
      <Value><![CDATA[4.000+ clients]]></Value>
    </weAreHeadline2Row>
    <weAreImage>
      <Value><![CDATA[[
  {
    "key": "17a60d09-11da-4bb2-a37a-5b2549ba05a0",
    "mediaKey": "83ae2470-8195-49c4-a0b7-156f7203fd4b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </weAreImage>
    <weAreText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </weAreText>
  </Properties>
</Content>