<?xml version="1.0" encoding="utf-8"?>
<Content Key="598bfb50-aedd-4a46-96be-b096c7d3ae54" Alias="Page Test" Level="2">
  <Info>
    <Parent Key="c83cc9d0-613a-454f-956b-583d182087e1">Home</Parent>
    <Path>/Home/PageTest</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTest</ContentType>
    <CreateDate>2024-10-01T17:10:59</CreateDate>
    <NodeName Default="Page Test" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d424342a-cffd-4bee-aeea-c8254163f62a">pageTest</Template>
  </Info>
  <Properties>
    <pageHeadline>
      <Value><![CDATA[THIS IS TEST ROOT PAGE]]></Value>
    </pageHeadline>
    <pageTitle>
      <Value><![CDATA[Test Page]]></Value>
    </pageTitle>
  </Properties>
</Content>