<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce6bff68-23fd-4e1b-8b11-b64d9fa517bc" Alias="Projects" Level="2">
  <Info>
    <Parent Key="c83cc9d0-613a-454f-956b-583d182087e1">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-10-01T19:02:07</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="221c52a1-4c7f-4e23-a5a1-58f7d755285d">projectsPage</Template>
  </Info>
  <Properties>
    <ourProjectsProject1Btn>
      <Value><![CDATA[Read more]]></Value>
    </ourProjectsProject1Btn>
    <ourProjectsProject1Date>
      <Value><![CDATA[June 15, 2024]]></Value>
    </ourProjectsProject1Date>
    <ourProjectsProject1Headline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </ourProjectsProject1Headline>
    <ourProjectsProject1Img>
      <Value><![CDATA[[
  {
    "key": "d838794a-9f44-40b4-b786-48ab54528d10",
    "mediaKey": "7b2d1ed5-343a-40e1-afeb-8e4a96908f16",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsProject1Img>
    <ourProjectsProject1Link>
      <Value><![CDATA[/projects/project1]]></Value>
    </ourProjectsProject1Link>
    <ourProjectsProject1Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </ourProjectsProject1Text>
    <ourProjectsProject2Btn>
      <Value><![CDATA[Read more]]></Value>
    </ourProjectsProject2Btn>
    <ourProjectsProject2Date>
      <Value><![CDATA[May 17, 2024]]></Value>
    </ourProjectsProject2Date>
    <ourProjectsProject2Headline>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </ourProjectsProject2Headline>
    <ourProjectsProject2Img>
      <Value><![CDATA[[
  {
    "key": "123b4cb2-228b-46ba-b111-4a4f560f1dea",
    "mediaKey": "275ccf71-16fd-4dd6-b5e8-01e3e1492576",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsProject2Img>
    <ourProjectsProject2Link>
      <Value><![CDATA[/projects/project2]]></Value>
    </ourProjectsProject2Link>
    <ourProjectsProject2Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </ourProjectsProject2Text>
    <ourProjectsProject3Btn>
      <Value><![CDATA[Read more]]></Value>
    </ourProjectsProject3Btn>
    <ourProjectsProject3Date>
      <Value><![CDATA[February 6, 2024]]></Value>
    </ourProjectsProject3Date>
    <ourProjectsProject3Headline>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </ourProjectsProject3Headline>
    <ourProjectsProject3Img>
      <Value><![CDATA[[
  {
    "key": "a8ec8ebb-c982-4b66-a355-4686e6bb1e84",
    "mediaKey": "3741a9aa-f1e1-4b6f-838b-71c53c7ebfba",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsProject3Img>
    <ourProjectsProject3Link>
      <Value><![CDATA[/projects/project3]]></Value>
    </ourProjectsProject3Link>
    <ourProjectsProject3Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </ourProjectsProject3Text>
    <ourProjectsProject4Btn>
      <Value><![CDATA[Read more]]></Value>
    </ourProjectsProject4Btn>
    <ourProjectsProject4Date>
      <Value><![CDATA[January 3, 2024]]></Value>
    </ourProjectsProject4Date>
    <ourProjectsProject4Headline>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </ourProjectsProject4Headline>
    <ourProjectsProject4Img>
      <Value><![CDATA[[
  {
    "key": "e86c0d92-21f9-4297-bd26-36cde4371191",
    "mediaKey": "e607e438-01b8-42ee-9295-9d6e641902aa",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsProject4Img>
    <ourProjectsProject4Link>
      <Value><![CDATA[/projects/project4]]></Value>
    </ourProjectsProject4Link>
    <ourProjectsProject4Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </ourProjectsProject4Text>
    <pageTitle>
      <Value><![CDATA[Projects]]></Value>
    </pageTitle>
    <projectsBannerHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </projectsBannerHeadline>
    <projectsBannerLink2>
      <Value><![CDATA[/projects]]></Value>
    </projectsBannerLink2>
    <projectsBannerLinkText2>
      <Value><![CDATA[Projects]]></Value>
    </projectsBannerLinkText2>
  </Properties>
</Content>