<?xml version="1.0" encoding="utf-8"?>
<Content Key="7064aebd-392c-49d3-8e36-2147ce83c28a" Alias="Services" Level="2">
  <Info>
    <Parent Key="c83cc9d0-613a-454f-956b-583d182087e1">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-09-28T23:48:25</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ad05c1b-f6c4-48c5-a0a2-e5a402d55ce6">servicesPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Services]]></Value>
    </pageTitle>
    <servicesBannerHeadline>
      <Value><![CDATA[Our Services]]></Value>
    </servicesBannerHeadline>
    <servicesBannerLink2>
      <Value><![CDATA[/services]]></Value>
    </servicesBannerLink2>
    <servicesBannerLinkText2>
      <Value><![CDATA[Services]]></Value>
    </servicesBannerLinkText2>
  </Properties>
</Content>