<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdaadffa-873f-42fb-931e-cff314d1b798" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-23T16:48:06</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2833505c-a3d4-40e1-bf82-06d8a205e000">settingsPage</Template>
  </Info>
  <Properties>
    <headerFacebookLink>
      <Value><![CDATA[https://www.facebook.com/onatrix]]></Value>
    </headerFacebookLink>
    <headerLink1>
      <Value><![CDATA[/about]]></Value>
    </headerLink1>
    <headerLink2>
      <Value><![CDATA[/services]]></Value>
    </headerLink2>
    <headerLink3>
      <Value><![CDATA[/projects]]></Value>
    </headerLink3>
    <headerLink4>
      <Value><![CDATA[/contact]]></Value>
    </headerLink4>
    <headerLinkedInLink>
      <Value><![CDATA[https://www.linkedin.com/onatrix]]></Value>
    </headerLinkedInLink>
    <headerLinkText1>
      <Value><![CDATA[About]]></Value>
    </headerLinkText1>
    <headerLinkText2>
      <Value><![CDATA[Services]]></Value>
    </headerLinkText2>
    <headerLinkText3>
      <Value><![CDATA[Projects]]></Value>
    </headerLinkText3>
    <headerLinkText4>
      <Value><![CDATA[Contact]]></Value>
    </headerLinkText4>
    <headerTwitterLink>
      <Value><![CDATA[https://x.com/onatrix]]></Value>
    </headerTwitterLink>
    <nextProjectImgBackgroung>
      <Value><![CDATA[[
  {
    "key": "f5f7d20e-44d9-4587-991f-41b0910f847d",
    "mediaKey": "a22676e1-142f-4d72-8401-5a7d12fed95d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImgBackgroung>
    <nextProjectImgDot>
      <Value><![CDATA[[
  {
    "key": "fd2bca67-032f-4483-b296-1b3ad0e0c96d",
    "mediaKey": "dcfc2e87-ae7e-4900-a526-a9a79dfed39e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImgDot>
    <nextProjectImgHuman>
      <Value><![CDATA[[
  {
    "key": "b8533154-c6b4-41ea-a9c1-2ef3032d1847",
    "mediaKey": "fc4e8304-8c79-43b6-b97c-5933cea97951",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImgHuman>
    <nextProjectTextEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </nextProjectTextEmail>
    <nextProjectTextHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </nextProjectTextHeadline>
    <nextProjectTextLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </nextProjectTextLocation>
    <nextProjectTextPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </nextProjectTextPhone>
    <officeEmailAddress>
      <Value><![CDATA[info@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[046 1122 3344]]></Value>
    </officePhoneNumber>
    <partnersImg1>
      <Value><![CDATA[[
  {
    "key": "2a4b9911-9eea-4547-90d1-05b29d312c96",
    "mediaKey": "28af4786-81d4-4364-ba3a-3d3f8769eea6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImg1>
    <partnersImg2>
      <Value><![CDATA[[
  {
    "key": "3d6a1173-9f7a-46bf-9402-3a022a63b257",
    "mediaKey": "2697d457-8526-4af7-9d48-a71053d64919",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImg2>
    <partnersImg3>
      <Value><![CDATA[[
  {
    "key": "52d51d7e-adb1-4eac-92c9-4d6fe06d26eb",
    "mediaKey": "56582560-0b42-486d-9588-24fe4a59daf4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImg3>
    <partnersImg4>
      <Value><![CDATA[[
  {
    "key": "259419fa-118f-4bff-8944-536b42b6b904",
    "mediaKey": "8ab12928-38aa-436e-be4f-2fa3528887cd",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImg4>
    <partnersImg5>
      <Value><![CDATA[[
  {
    "key": "a140b252-36ef-4d1f-9638-9794f686bcd9",
    "mediaKey": "08a54dd8-0ebf-4a12-933f-80b50296f80f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImg5>
    <partnersImg6>
      <Value><![CDATA[[
  {
    "key": "da2b03d0-c8dd-4f5f-a90a-fd644ad5c591",
    "mediaKey": "1c61eb7f-3640-4e12-8cd1-d9949ec5ac77",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImg6>
    <servicesBannerBackground>
      <Value><![CDATA[[
  {
    "key": "02b2f8a7-a116-4019-8171-e1f1b659d2be",
    "mediaKey": "990687a7-3772-481d-ba9e-e21a46e4a51d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesBannerBackground>
    <servicesBannerLink1>
      <Value><![CDATA[/]]></Value>
    </servicesBannerLink1>
    <servicesBannerLinkText1>
      <Value><![CDATA[Home]]></Value>
    </servicesBannerLinkText1>
    <serviceSection>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </serviceSection>
    <serviceSolution1Headline>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceSolution1Headline>
    <serviceSolution1Image>
      <Value><![CDATA[[
  {
    "key": "c5eba351-1e11-4372-8cb8-6fcfbf1fc5f6",
    "mediaKey": "2e7eb04f-3e58-4e85-ad10-a98ce3b6812b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution1Image>
    <serviceSolution1Link>
      <Value><![CDATA[/services/services-solution1]]></Value>
    </serviceSolution1Link>
    <serviceSolution1Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution1Text>
    <serviceSolution2Headline>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceSolution2Headline>
    <serviceSolution2Image>
      <Value><![CDATA[[
  {
    "key": "3bf081da-fcda-4ed3-b4c5-888c9e73c625",
    "mediaKey": "1916dc14-90b7-4449-af76-536fe2ca77a1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution2Image>
    <serviceSolution2Link>
      <Value><![CDATA[/services/services-solution-2/]]></Value>
    </serviceSolution2Link>
    <serviceSolution2Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution2Text>
    <serviceSolution3Headline>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceSolution3Headline>
    <serviceSolution3Image>
      <Value><![CDATA[[
  {
    "key": "052dae88-3ae0-42d1-8cb3-68b760d9180d",
    "mediaKey": "8e1a304c-cd2b-43d9-9243-94bed1dc6a9b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution3Image>
    <serviceSolution3Link>
      <Value><![CDATA[/services/services-solution-3/]]></Value>
    </serviceSolution3Link>
    <serviceSolution3Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution3Text>
    <serviceSolution4Headline>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceSolution4Headline>
    <serviceSolution4Image>
      <Value><![CDATA[[
  {
    "key": "1202490e-4e21-4875-bb72-55abff732403",
    "mediaKey": "29d797ad-de27-4b86-92aa-76f7ef6a72ed",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution4Image>
    <serviceSolution4Link>
      <Value><![CDATA[/services/services-solution-4/]]></Value>
    </serviceSolution4Link>
    <serviceSolution4Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution4Text>
    <serviceSolution5Headline>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceSolution5Headline>
    <serviceSolution5Image>
      <Value><![CDATA[[
  {
    "key": "42f26a18-ccae-4b77-8641-75b1c9aa351a",
    "mediaKey": "49b66b62-9435-407f-a9d8-e560d74a0214",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution5Image>
    <serviceSolution5Link>
      <Value><![CDATA[/services/services-solution-5/]]></Value>
    </serviceSolution5Link>
    <serviceSolution5Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution5Text>
    <serviceSolution6Headline>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceSolution6Headline>
    <serviceSolution6Image>
      <Value><![CDATA[[
  {
    "key": "7e012667-88ff-479f-8fd1-e561d9bf3858",
    "mediaKey": "3294a4ed-a2f6-48df-b8cb-3ca71f34c4f4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceSolution6Image>
    <serviceSolution6Link>
      <Value><![CDATA[/services/services-solution-6]]></Value>
    </serviceSolution6Link>
    <serviceSolution6Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceSolution6Text>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "b390913f-7a75-4034-9da8-46f2b6dff5b9",
    "mediaKey": "49928838-a1b2-4eae-8204-4c732db92527",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d9183283-db68-42e4-b612-a7cdd3795d9a",
      "udi": "umb://element/7766e276265d40a5b154c2165a76fca2",
      "plattformName": "[\u0022Facebook\u0022]",
      "plattformAccountUrl": "https://www.facebook.com/onatrix"
    },
    {
      "contentTypeKey": "d9183283-db68-42e4-b612-a7cdd3795d9a",
      "udi": "umb://element/fe31094cb8e04f8396346f4a417890a8",
      "plattformName": "[\u0022Instagram\u0022]",
      "plattformAccountUrl": "https://www.instagram.com/onatrix"
    },
    {
      "contentTypeKey": "d9183283-db68-42e4-b612-a7cdd3795d9a",
      "udi": "umb://element/ec49efbe2a364497bf7411859725e382",
      "plattformName": "[\u0022X(formerly Twitter)\u0022]",
      "plattformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "d9183283-db68-42e4-b612-a7cdd3795d9a",
      "udi": "umb://element/c6285b8f38ac4b458459de5eb6b04fbb",
      "plattformName": "[\u0022TikTok\u0022]",
      "plattformAccountUrl": "https://www.tiktok.com/onatrix"
    },
    {
      "contentTypeKey": "d9183283-db68-42e4-b612-a7cdd3795d9a",
      "udi": "umb://element/9610a1383c594b2fac5ebbc16569cd0b",
      "plattformName": "[\u0022LinkedIn\u0022]",
      "plattformAccountUrl": "https://www.linkedin.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7766e276265d40a5b154c2165a76fca2",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/fe31094cb8e04f8396346f4a417890a8",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/ec49efbe2a364497bf7411859725e382",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c6285b8f38ac4b458459de5eb6b04fbb",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/9610a1383c594b2fac5ebbc16569cd0b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
    <solutionAboutHeadline>
      <Value><![CDATA[About us]]></Value>
    </solutionAboutHeadline>
    <solutionAboutImg>
      <Value><![CDATA[[
  {
    "key": "871ea8af-65a2-48bb-837f-d82c966b7bee",
    "mediaKey": "d7f7160c-848a-4ac7-88e9-4ca745c13f93",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </solutionAboutImg>
    <solutionAboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </solutionAboutText>
    <tags>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0d1b4207-333b-4a69-aa87-27c477b18bbb",
      "udi": "umb://element/23c40da7ca2240fb99fa48630bd2a28c",
      "tagsName": "[\u0022Project\u0022]",
      "tagsUrl": "#"
    },
    {
      "contentTypeKey": "0d1b4207-333b-4a69-aa87-27c477b18bbb",
      "udi": "umb://element/948fae43781a408cb35915789771b68e",
      "tagsName": "[\u0022Report\u0022]",
      "tagsUrl": "#"
    },
    {
      "contentTypeKey": "0d1b4207-333b-4a69-aa87-27c477b18bbb",
      "udi": "umb://element/9b677bf6c8df44d8a40b2e80521eebdb",
      "tagsName": "[\u0022Busines plans\u0022]",
      "tagsUrl": "#"
    },
    {
      "contentTypeKey": "0d1b4207-333b-4a69-aa87-27c477b18bbb",
      "udi": "umb://element/38ad7e8d79a94fa4877a0f42ae963e05",
      "tagsName": "[\u0022Insights\u0022]",
      "tagsUrl": "#"
    },
    {
      "contentTypeKey": "0d1b4207-333b-4a69-aa87-27c477b18bbb",
      "udi": "umb://element/13893f0131b142beaa806788f5a1106a",
      "tagsName": "[\u0022Business\u0022]",
      "tagsUrl": "#"
    },
    {
      "contentTypeKey": "0d1b4207-333b-4a69-aa87-27c477b18bbb",
      "udi": "umb://element/10c4ad256443490184f38c2a03076d6e",
      "tagsName": "[\u0022App\u0022]",
      "tagsUrl": "#"
    },
    {
      "contentTypeKey": "0d1b4207-333b-4a69-aa87-27c477b18bbb",
      "udi": "umb://element/95ce0103d06f4afd83bb1cc2cb9235a4",
      "tagsName": "[\u0022Finance\u0022]",
      "tagsUrl": "#"
    },
    {
      "contentTypeKey": "0d1b4207-333b-4a69-aa87-27c477b18bbb",
      "udi": "umb://element/4ad2914fc77249a38ee4a7a371c9cb4c",
      "tagsName": "[\u0022Pricing\u0022]",
      "tagsUrl": "#"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/23c40da7ca2240fb99fa48630bd2a28c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/948fae43781a408cb35915789771b68e",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/9b677bf6c8df44d8a40b2e80521eebdb",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/38ad7e8d79a94fa4877a0f42ae963e05",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/13893f0131b142beaa806788f5a1106a",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/10c4ad256443490184f38c2a03076d6e",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/95ce0103d06f4afd83bb1cc2cb9235a4",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/4ad2914fc77249a38ee4a7a371c9cb4c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </tags>
    <weHelpHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </weHelpHeadline>
    <weHelpImg>
      <Value><![CDATA[[
  {
    "key": "7cbd5bea-2d64-438b-8114-70d97e34927f",
    "mediaKey": "a07ec395-3cc3-4703-9b14-4719b1b6e888",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </weHelpImg>
    <weHelpText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </weHelpText>
  </Properties>
</Content>