@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModel = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var richText = Model?.Content.Value("richTextContent") ?? null;

}

@if (richText != null)
{

    <div>@richText</div>

}